<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EightBrews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">EightBrews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if category == 'general' %}active{% endif %}">
                    <a class="nav-link" href="/category/general">General</a>
                </li>
                <li class="nav-item {% if category == 'finance' %}active{% endif %}">
                    <a class="nav-link" href="/category/finance">Finance</a>
                </li>
                <li class="nav-item {% if category == 'technology' %}active{% endif %}">
                    <a class="nav-link" href="/category/technology">Technology</a>
                </li>
                <li class="nav-item {% if category == 'health' %}active{% endif %}">
                    <a class="nav-link" href="/category/health">Health</a>
                </li>
                <li class="nav-item {% if category == 'sports' %}active{% endif %}">
                    <a class="nav-link" href="/category/sports">Sports</a>
                </li>
                <li class="nav-item {% if category == 'entertainment' %}active{% endif %}">
                    <a class="nav-link" href="/category/entertainment">Entertainment</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>{{ category.title() }} News</h1>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ article['title'] }}</h5>
                        <p class="card-text">{{ article['description'] | safe }}</p>
                        <a href="{{ article['link'] }}" class="btn btn-custom" target="_blank">Go to the original news page</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
